In [7]:
#printing sin series
import math

In [8]:
n = int(input("Enter the number of terms: "))
x = int(input("Enter the value of x: "))
sum=0
for i in range(n):
    sum = sum + (-1)**i * (math.pow(x,2*i +1)/math.factorial(2*i +1))

print(sum)

-5.292658730158728

In [12]:
#Printing pattern

for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234

In [13]:
#Calculating interest

p = int(input("Enter the principal amount: "))
r = int(input("Enter the rate of interest: "))
t = int(input("Enter the time period: "))

for i in range(t):
    p = p + p*r/100
    print("Year ",i+1," : ",p)
print("Total amount: ",p)

Year  1  :  10500.0
Year  2  :  11025.0
Year  3  :  11576.25
Year  4  :  12155.0625
Year  5  :  12762.815625
Total amount:  12762.815625

In [15]:
##krishnamurthy number
num = int(input("Enter the number: "))
temp = num
sum=0
while temp>0:
    digit = temp%10
    sum = sum + math.factorial(digit)
    temp = temp//10
if sum == num:
    print("Krishnamurthy number")

In [30]:
##String functions
strg = "Python Programming with Alex"
print(strg[-4:])
print(strg[4:9])
print(len(strg))
print(strg[:-4])
print(strg[4:])
print(strg.find("gr"))
for i in strg:
    if i.islower():
        print(i.upper(),end="")
    elif i.isupper():
        print(i.lower(),end="")
    else:
        print(i,end="")

## reverse string
print()
print(strg[::-1])
print(strg.find("z"))

strg = "Python Programming with Alex. malayalam is a palindrome as well as racecar ."
l = strg.split()
for i in l:
    if i[::-1] == i:
        print(i)

Alex
on Pr
28
Python Programming with
on Programming with Alex
10
pYTHON pROGRAMMING WITH aLEX
xelA htiw gnimmargorP nohtyP
-1
malayalam
a
racecar
.

In [33]:
##Binary to decimal conversion
bin = int(input("Enter a binary string"))
count=0
dec =0
while bin>0:
    digit = bin%10
    dec += digit*pow(2,count)
    count+=1
    bin = bin//10
print(dec)

12

In [ ]:
"""
10. Write a Python program to check the validity of a password given by the user.

The Password should satisfy the following criteria:

1. Contains at least one letter between a and z

2. Contains at least one number between 0 and 9

3. Contains at least one letter between A and Z

4. Contains at least one special character from $, #, @

5.Minimum length of password: 8

"""

In [9]:
l=[]
l.append("Alex")
l+=[13]
l.extend([695015,"Trivandrum"])
l[0] = "MDL22CS026"
l.extend(["Alex"])
print(l)
print(l[0],l[len(l)-1])
print(l.index("Alex"))
l.reverse()
print(l)

['MDL22CS026', 13, 695015, 'Trivandrum', 'Alex']
MDL22CS026 Alex
4
['Alex', 'Trivandrum', 695015, 13, 'MDL22CS026']

In [15]:
l=["Aadithya","Alex","Arun","Varun","Vishnu","Vivek","Roy","Rahul","Rajesh","Rajeev"]
l.sort()
print(l)
max = 0
for i in l:
    if len(i)>max:
        max = len(i)
        name = i
print(name)

['Aadithya', 'Alex', 'Arun', 'Rahul', 'Rajeev', 'Rajesh', 'Roy', 'Varun', 'Vishnu', 'Vivek']
Aadithya

In [16]:
l=[10,20,20,30,40,50,60,70,80,90]

unique = []
for i in l:
    if i not in unique:
        unique.append(i)
print(unique)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [21]:
##Set operations
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

In [6]:


f_open = open("test.txt","w")
f_open.write("Hello World")
f_open = open("test.txt","r")
print(f_open.read())
print(type(f_open))

Hello World
<class '_io.TextIOWrapper'>

In [9]:
f1 = open("test.txt","r")
f2 = open("names.txt","w")
f2.write(f1.read())
f2 = open("names.txt","r")
print(f2.read())

Hello World

In [12]:
output = open("output.txt","w") 
with open("names.txt","r") as f:
    for line in f:
        print(line)
        if line != "\n":
            output.write(line)
output.close()

Hello, this is a test.



This file has blank lines.



Python is great.





End of file.

In [24]:
f1 = open("names.txt","r")
words = f1.read().split()
print(words)
print(sorted(words))

['Hello,', 'this', 'is', 'a', 'test.', 'This', 'file', 'has', 'blank', 'lines.', 'Python', 'is', 'great.', 'End', 'of', 'file.']
['End', 'Hello,', 'Python', 'This', 'a', 'blank', 'file', 'file.', 'great.', 'has', 'is', 'is', 'lines.', 'of', 'test.', 'this']

In [27]:
f1 = open("new.txt","r")
f2 = open("old.txt","w")
num = f1.read().split()
num2 = []
for i in num:
    if int(i) not in num2:
        num2.append(int(i))
print(num2)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
f1 = open("new.txt","w")
f1.write("1|aswith|30|40|50\n2|alex|40|50|60\n3|arun|50|60|70\n4|vishnu|60|70|80\n5|vivek|70|80|90\n6|roy|80|90|100\n7|rahul|90|100|110\n8|rajesh|100|110|120\n9|rajeev|110|120|130")
f1.close()

In [31]:
f1 = open("new.txt","r")
words = f1.read().split("\n")
for i in words:
    record = i.split("|")
    print(record)

['1', 'aswith', '30', '40', '50']
['2', 'alex', '40', '50', '60']
['3', 'arun', '50', '60', '70']
['4', 'vishnu', '60', '70', '80']
['5', 'vivek', '70', '80', '90']
['6', 'roy', '80', '90', '100']
['7', 'rahul', '90', '100', '110']
['8', 'rajesh', '100', '110', '120']
['9', 'rajeev', '110', '120', '130']

In [36]:
d = {}
students_list = [
    (1, "Alice"), 
    (2, "Bob"), 
    (3, "Charlie"), 
    (4, "David"), 
    (5, "Eve"),
    (6, "Frank"), 
    (7, "Grace"), 
    (8, "Hannah"), 
    (9, "Ivy"), 
    (10, "Jack")
]

start_index = 7
for i in range (5):
    print(students_list[start_index])
    d[students_list[start_index][0]] = students_list[start_index][1]
    start_index = (start_index+1) % len(students_list)
    

print(d)
l = list(d.values())
print(l)

(8, 'Hannah')
(9, 'Ivy')
(10, 'Jack')
(1, 'Alice')
(2, 'Bob')
{8: 'Hannah', 9: 'Ivy', 10: 'Jack', 1: 'Alice', 2: 'Bob'}
['Hannah', 'Ivy', 'Jack', 'Alice', 'Bob']

In [37]:
strg = "Python Programming with Alex"
d = {}
for i in strg:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
print(d)

{'P': 2, 'y': 1, 't': 2, 'h': 2, 'o': 2, 'n': 2, ' ': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 'w': 1, 'A': 1, 'l': 1, 'e': 1, 'x': 1}

In [39]:
odd_number = lambda x: x%2!=0
l = []
for i in range (0,51):
    if odd_number(i):
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]